<div class="row bodyDiv">
    <form class="col s8 offset-s2" action="/auth/signup" method="POST">
      <div class="row">
        <div class="input-field col s8 offset-s2">
          <input id="authName" type="text" name="name" class="validate">
          <label for="authName" class="signUpId">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8 offset-s2">
          <input id="authEmail" type="email" name="email" class="validate">
          <label for="authEmail" class="signUpId">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8 offset-s2">
          <input id="authPassword" type="password" name="password" class="validate">
          <label for="authPassword" class="signUpId">Password</label>
        </div>
      </div>
    <input class="btn btn-primary" type="submit">
  </form>
</div>

