<div class="row">
    <form class="col s12" action="/auth/signup" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input id="authName" type="text" name="name" class="validate">
          <label for="authName">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="authEmail" type="email" name="email" class="validate">
          <label for="authEmail">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="authPassword" type="password" name="password" class="validate">
          <label for="authPassword">Password</label>
        </div>
      </div>
    <input class="btn btn-primary" type="submit">
  </form>
</div>

