<h1>fridge</h1>

<form action="/mainPage" method="GET">
    <button type="submit" class="btn btn-primary z-depth-3">Feeling hungry?</button>
</form>

<form action="auth/login" method="GET">
    <button type="submit" class="btn btn-primary z-depth-3">Log In</button>
</form>

<form action="auth/signup" method="GET">
    <button type="submit" class="btn btn-primary z-depth-3">Sign Up</button>
</form>



  <!-- <div>
     <img src="https://stjosephvillage.files.wordpress.com/2014/09/18316788_l.jpg">
 -->
 
