<h2>Here are your recipies</h2>

<% data.forEach(function(results) { %>
  <h4 class="imageTitle"><a href="<%= results.href %>"><%= results.title %></a></h4>
  <div class="imageDiv"><img class="materialboxed" src="<%= results.thumbnail %>" alt="<%= results.title %>"></div>
  <form action="/profile" method="GET">
    <button type="submit" class="waves-effect waves-light btn">Add to Favorites</button>
  </form> 
<% }); %>




