<h3>What's in your fridge?</h3>

<form action="/searchFridge" method="GET" class="bodyDiv">
  <div class="row">
    <div class="col s8 offset-s2">
      <input type="text" name="q" placeholder="What ingredients do you have?">
      <button id="searchBtn" type="submit" class="btn btn-primary">Find Recipies</button>
    </div>
  </div>
</form>