<h3>What's in your fridge?</h3>

<form action="/searchFridge" method="GET">
  <div>
    <div>
      <input type="text" name="q" placeholder="What ingredients do you have?">
      <button type="submit" class="btn btn-primary">Find Recipies</button>
    </div>
  </div>
</form>