<h3>What's in your fridge?</h3>

<form action="/searchFridge" method="GET">
  <div class="well">
    <div class="input-group input-group-lg">
      <input type="text" name="ingredients" placeholder="What ingredients do you have?"
      class="form-control">
      <button type="submit" class="btn btn-primary">Find Recitpe</button>
    </div>
  </div>
</form>