<h1>Shopping List</h1>

<form action="/shoppinglist" method="POST">
 
  <div class="input-field"> 
  <legend>Shopping List</legend>
    <div class="form-group">
      <span class="help-block"></span>
      <input type="text" class="form-control" name="food" placeholder="What's on your list?">
    </div>
  </div>
  <div class="input-field">
   <input type="date" name="date" class="datepicker">
  
   <button type="submit" class="btn">Add to List</button>
  </div>   
</form>

<% list.forEach(function(lists) { %>
  <div class="showList">
    <h5><%= lists.food %></h5>
    <h5>Expires on: <%= lists.date %></h5>
    <button type="delete" class="btn red">Delete</button>
  </div>
<% }); %>
