body {
  text-align: center;
  /*font-family: 'Roboto Salb', serif;*/
  background-image: url("https://stjosephvillage.files.wordpress.com/2014/09/18316788_l.jpg");
  background-size: cover;
}

h1 {
  font-size: 150px;
  font-family: 'Roboto Salb', serif;
}

h3 {
  font-size: 50px;
  font-family: 'Roboto Salb', serif;
  margin-top: 50px;
}

label {
  font-color: black;
}

form {
  margin-top: 20px;
}

.btn {
  margin: 10px;
  font-size: large;
}

.bodyDiv {
  background: rgba(255, 255, 255, 0.5);
  background-size: cover;
}

.signUpId {
  text-align: left;
}

.bigPara {
  width: 100%;
}

