body {
  text-align: center;
  font-family: 'Roboto Salb', serif;
  background: url("/img/fridge.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 150px;
  font-family: 'Roboto Salb', serif;
}

h2, h4 {
  color: white;
}

h3 {
  font-size: 50px;
  font-family: 'Roboto Salb', serif;
  margin-top: 50px;
}

a {
  color: black;
}

form {
  margin-top: 20px;
}

.btn {
  margin: 10px;
  font-size: large;
}

.bodyDiv {
  background-size: cover;
  background-color: white;
}

.signUpId {
  text-align: left;
}

.materialboxed {
  width: 150px;
  height: 100px;
}

.imageDiv {
  background: rgba(255, 255, 255, 0.5);
  background-size: cover;

}

.profileFavorites {
  border: 1px solid black;
}

.profileRecipeLink {
  color: blue;
}

@media (max-width: 600px) {
  .mainPage {
    margin-top: 300px;
  }
}
