body {
  text-align: center;
  background-image: url("https://stjosephvillage.files.wordpress.com/2014/09/18316788_l.jpg");
  background-image: cover;
}

h1 {
  font-size: 150px;
  font-family: 'Roboto Salb', serif;
}

h3 {
  font-size: 50px;
  font-family: 'Roboto Salb', serif;
}

.input-group {
  margin: auto;
}

.btn {
  margin: 10px;
  font-size: large;
}

